body{
	margin: 0;
	padding: 0;
	font-family: 'Courier', sans-serif;
}

#contenedor{
	padding-left: 30px;
}

h1{
	padding: 3px;
	padding-bottom: 34px;
	font-size: 30px;
}

.sectionTitulo{
	position: relative;
}

.linea{
	background-color: black;
  	height: 4px;
  	width: 110px;
  	position: absolute;
  	top: 24px;
}

#contenedor{
	position: relative;
	line-height: 0;
}

img{
	width: 300px;
	height: 300px;
	filter: brightness(60%);
}

figcaption{
	position: relative;
}

.nombre-coder{
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: white;
	font-size: 16px;
}

.contenedorImg{
	display: inline-block;
	margin: 0;
	padding-right: 40px;
	padding-bottom: 50px;
}